<!DOCTYPE html>
<html>
	<head>
		<title> D3.js test </title>
		<meta charset="utf-8">
		<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
		<style>
        #chartdiv {
            width: 100%;
            height: 800px;
        }
        #chartdiv2 {
            width: 100%;
            height: 800px;
        }
        #chartdiv3 {
            width: 100%;
            height: 800px;
        }
        </style>  
        
	</head>

	<body>
        <div id="chartdiv"></div>
        <div id="chartdiv2"></div>	
        <div id="chartdiv3"></div>												
        <script src="../javascripts/barChart.js"></script>
        <script src="../javascripts/pieChart.js"></script>
        <script src="../javascripts/sortedChart.js"></script>
	</body>
</html>
