<!DOCTYPE html>
<html>
	<head>
		<title> URL TOP 20 </title>
		<meta charset="utf-8">
		<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
		<style>
        #chartdiv {
            width: 100%;
            height: 800px;
        }
        #chartdiv2 {
            width: 100%;
            height: 800px;
        }
        #chartdiv3 {
            width: 100%;
            height: 800px;
        }
        </style>  
        
	</head>

	<body>
        <h1> URL TOP 20 </h1>
        <div id="chartdiv"></div>
        <div id="chartdiv2"></div>	
        <div id="chartdiv3"></div>												
        <script src="/javascripts/urlBarChart.js"></script>
        <script src="/javascripts/urlPieChart.js"></script>
        <script src="/javascripts/urlSortedChart.js"></script>
	</body>
</html>